---
import ProjectCard from "./ProjectCard.astro";
---

<section
  id="proyectos"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Proyectos de demostración"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-indigo-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
    >
      Proyectos
    </h2>
  </div>
  <div>
    <ul class="group/list">
      <ProjectCard
        title="Calculator App React"
        url="https://calculator-app-react-iota.vercel.app/"
        image="/calculator-app-react.png"
        resume="Proyecto creado en React enfocado principalmente en los estilos y el uso de temas"
        technologies={["React", "Css themes", "Vite"]}
      />
      <ProjectCard
        title="Infinity jumper"
        url="https://phaser-infinity-jumper.vercel.app/"
        image="/infinity-jumper.png"
        resume="Videojuego creado con phaser y vite"
        technologies={["Phaser", "Vite"]}
      />
      <ProjectCard
        title="My Day App"
        url="https://laboratorio-mydayapp.vercel.app/"
        image="/my-day-app.png"
        resume="Aplicación de tareas creada en angular implementado una store con ngrx"
        technologies={["Angular", "Ngrx"]}
      />
      <ProjectCard
        title="Lading Tradeview"
        url="https://prueba-vue-tradeview.vercel.app/"
        image="/landing-tradeview.png"
        resume="Lading mockup para un web broker realizado en tailwind y vue"
        technologies={["Vue", "Tailwind", "Vite"]}
      />
      <ProjectCard
        title="Multi Functional React App"
        url="https://react-challenge-seven.vercel.app/counter"
        image="/multi-functional-react-app.png"
        resume="Aplicación de React con un contador, listado de productos, CRUD de tareas, página de login, este proyecto está hecho para presentar la forma de trabajar con React con múltiples módulos usando redux toolkit"
        technologies={["React", "Tailwind", "Vite", "Redux", "Redux-tool-kit", "React-router"]}
      />
    </ul>
  </div>
</section>
