---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ingeniero en Informática experto en desarrollo Frontend de aplicaciones web modernas. Especializado en JavaScript y frameworks como Vue, React, Svelte, y Angular. Experiencia en SSR con Next y Nuxt, así como en aplicaciones mobiles con React Native y Flutter. Amplio conocimiento en el desarrollo Backend con Node.js y los frameworks Express y NestJS. ¡Descubre mi portafolio para explorar mis proyectos y habilidades!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-b from-gray-900 via-indigo-900 to-indigo-950 leading-relaxed text-slate-400 antialiased selection:bg-purple-300 selection:text-purple-900"
  >
    <slot />
  </body>
</html>
<style is:global></style>
